<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2">
  <h1 class="h2">Students</h1>
  <form class="input-group col-lg-4">
    <input class="form-control" type="text" placeholder="Search students by their first or last name" (input)="searchTerm.next($event.target.value)">
  </form>
  <div class="btn-toolbar mb-2 mb-md-0" role="toolbar">
    <button class="btn btn-success" type="button" [disabled]="isRequestProcessing" (click)="openAddStudentModal(addStudentModal)">
      <i class="fa fa-plus"></i> ADD STUDENT
    </button>
  </div>
</div>

<table class="table table-responsible table-hover">
  <thead>
    <tr>
      <th scope="col" *ngFor="let column of columns">{{column.title}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="clickable-row" *ngFor="let student of students.Data" (click)="goToStudentDetails(student)">
      <td>{{student.Id}}</td>
      <td>{{student.FirstName}}</td>
      <td>{{student.LastName}}</td>
    </tr>
  </tbody>
</table>
<ngb-pagination [disabled]="isRequestProcessing" [collectionSize]="students.Count" [(page)]="page" [pageSize]="perPage" [rotate]="true"
  [ellipses]="false" [boundaryLinks]="true" (pageChange)="getStudentsPaged(page, perPage)"></ngb-pagination>

<ng-template #addStudentModal let-c="close">
  <div class="modal-header">
    <h4 class="modal-title">New student</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="addStudentFormGroup" novalidate>
      <div class="form-group row">
        <label for="student-firstname-input" class="col-2 col-form-label">First name</label>
        <div class="col-10">
          <input class="form-control" type="text" id="student-firstname-input" formControlName="FirstName" [(ngModel)]="student.FirstName"
            required />
        </div>
      </div>
      <div class="form-group row">
        <label for="student-lastname-input" class="col-2 col-form-label">Last name</label>
        <div class="col-10">
          <input class="form-control" type="text" id="student-lastname-input" formControlName="LastName" [(ngModel)]="student.LastName"
            required />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" [disabled]="!addStudentFormGroup.valid || isRequestProcessing" (click)="addStudent(student)">ADD</button>
    <button class="btn btn-default" type="button" [disabled]="isRequestProcessing" (click)="c()">CANCEL</button>
  </div>
</ng-template>