#wrapper {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 5px;
  left: 0;
  display: inline-block;
}

#content-wrapper {
  height: 100%;
  padding: 70px 0 0px 0;
}

#content {
  position: relative;
  height: 100%;
  padding: 0 15px;
}