<nav class="navbar fixed-top bg-dark">
  <a class="navbar-brand" routerLink="/">App</a>
</nav>
<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-dark sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link text-center" routerLinkActive="active" routerLink="app/students">Students</a>
          <a class="nav-link text-center" routerLinkActive="active" routerLink="app/courses">Courses</a>
        </li>
      </ul>
    </nav>
    <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2" style="padding-top: 5px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>