<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2">
  <span class="h2" *ngIf="student?.Id">
    #{{student?.Id}} {{student?.FirstName}} {{student?.LastName}}
  </span>
  <span class="h2" *ngIf="!student?.Id">
    Loading...
  </span>
  <button class="btn btn-primary" type="button" [disabled]="isRequestProcessing" (click)="openEditStudentModal(editStudentModal)">
    <i class="fa fa-plus"></i> EDIT STUDENT
  </button>
</div>
<div *ngIf="courses?.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let column of courseTableColumns">{{column.title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>{{course.Id}}</td>
        <td>{{course.Name}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="alert alert-warning text-center" role="alert" *ngIf="courses?.length === 0">
  <span>
    <strong>There are no courses assigned to this student</strong>
  </span>
</div>
<button class="btn btn-default" type="button" (click)="goBack()">Back to students</button>

<ng-template #editStudentModal let-c="close">
  <div class="modal-header">
    <h4>Editing student</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="editStudentFormGroup" novalidate>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="student-firstname-input">First name</label>
          <span class="badge badge-success"></span>
          <input class="form-control" type="text" id="student-firstname-input" formControlName="FirstName" [(ngModel)]="student.FirstName"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="student-lastname-input">Last name</label>
          <span class="badge badge-success"></span>
          <input class="form-control" type="text" id="student-lastname-input" formControlName="LastName" [(ngModel)]="student.LastName"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" [disabled]="!editStudentFormGroup.valid || isSubmitDisabled || isRequestProcessing"
      (click)="updateStudent(student)">SUBMIT</button>
    <button class="btn btn-default" type="button" [disabled]="isRequestProcessing" (click)="c()">CLOSE</button>
  </div>
</ng-template>