<div class="container-fluid">
  <h2 *ngIf="student?.Id">
    #{{student?.Id}} {{student?.FirstName}} {{student?.LastName}}
  </h2>
  <h2 *ngIf="!student?.Id">
    Loading...
  </h2>
  <div *ngIf="courses?.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th *ngFor="let column of courseTableColumns">{{column.title}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <td>{{course.Id}}</td>
          <td>{{course.Name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="alert alert-warning text-center" role="alert" *ngIf="courses?.length === 0">
    <span>
      <strong>There are no courses assigned to this student</strong>
    </span>
  </div>
  <button class="btn btn-default" (click)="goBack()">Back to students</button>
</div>