.course-name-title:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
}

.course-name-title > i {
  opacity: 0.5;
}

.course-name-title:hover > i {
  visibility: visible;
  opacity: 1.0;
}

caption {
  white-space: nowrap;
  color: black;
}

.btn-goto-previous-page {
  margin-top: 10px;
}