<div class="container-fluid">
  <div class="float-md-right" *ngIf="!courseNameEditing">
    <button class="btn btn-danger" [disabled]="isRequestProcessing" (click)="deleteCourse(course.Id)">
      <i class="fa fa-trash fa-lg"></i> DELETE THIS COURSE</button>
  </div>
  <h2 *ngIf="course?.Name">
    <span class="course-name-title" *ngIf="!courseNameEditing" (click)="enableCourseNameEditing()">{{course?.Name}}
      <i class="fa fa-pencil"></i>
    </span>
  </h2>
  <h2 *ngIf="!course?.Name">
    Loading...
  </h2>
  <div class="input-group" *ngIf="courseNameEditing">
    <input class="form-control col-lg-3" type="text" [disabled]="isRequestProcessing" [(ngModel)]="course.Name" appAutofocus
    />
    <span class="input-group-btn">
      <button class="btn btn-success" type="button" [disabled]="!course.Name || isRequestProcessing" (click)="saveChanges(course)">
        <i class="fa fa-check fa-lg" aria-hidden="true"></i>
      </button>
      <button class="btn btn-danger" type="button" [disabled]="isRequestProcessing" (click)="disableCourseNameEditing()">
        <i class="fa fa-times fa-lg" aria-hidden="true"></i>
      </button>
    </span>
  </div>
  <div *ngIf="students?.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" *ngFor="let column of studentTableColumns">{{column.title}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{student.Id}}</td>
          <td>{{student.FirstName}}</td>
          <td>{{student.LastName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="alert alert-warning text-center" *ngIf="students?.length === 0" role="alert">
    <span>
      <strong>There are no students assigned to this course!</strong>
    </span>
  </div>
  <div class="btn-goto-previous-page">
    <button class="btn btn-default" (click)="goBack()">Back to courses</button>
  </div>
</div>