<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2">
  <div>
    <app-inline-edit style="display: inline-block" [(ngModel)]="course.Name" (onSave)="updateCourseName(course)" [disabled]="isRequestProcessing">
    </app-inline-edit>
    <span [ngClass]="getBadgeCssClass()" style="display: inline-block" >{{savingInfo.text}}</span>
  </div>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button class="btn btn-danger" type="button" [disabled]="isRequestProcessing" (click)="deleteCourse(course.Id)">
      <i class="fa fa-trash fa-lg"></i> DELETE
    </button>
  </div>
</div>
<div *ngIf="students?.length > 0">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col" *ngFor="let column of studentTableColumns">{{column.title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{student.Id}}</td>
        <td>{{student.FirstName}}</td>
        <td>{{student.LastName}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="alert alert-warning text-center" *ngIf="students?.length === 0">
  <span>
    <strong>There are no students assigned to this course!</strong>
  </span>
</div>
<div class="btn-goto-previous-page">
  <button class="btn btn-default" type="button" (click)="goBack()">Back to courses</button>
</div>