h2 {
  margin-top: 30px;
  display: inline-block;
}

.course-name-title:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
}

.course-name-title > i {
  opacity: 0.5;
}

.course-name-title:hover > i {
  visibility: visible;
  opacity: 1.0;
}

.table-heading-notice {
  margin-top: 15px;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;    
}

.btn-goto-previous-page {
  margin-top: 10px;
}
