<div class="container-fluid">
  <div class="page-header">
    <div class="pull-right">
      <div class="btn-group">
        <button type="button" class="btn btn-success">
          <span class="glyphicon glyphicon-plus"></span> ADD COURSE
        </button>
      </div>
    </div>
    <h2>Courses</h2>
  </div>
  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th scope="col" *ngFor="let column of columns">{{column.title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses.Data" class="clickable-row" (click)="goToCourseDetails(course)">
        <td>{{course.Id}}</td>
        <td>{{course.Name}}</td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination [collectionSize]="courses.Count" [(page)]="page" [pageSize]="perPage" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="getCoursesPaged(page, perPage)"></ngb-pagination>
</div>