<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-2">
  <span class="h2" *ngIf="student?.Id">
    #{{student?.Id}} {{student?.FirstName}} {{student?.LastName}}
  </span>
  <span class="h2" *ngIf="!student?.Id">
    Loading...
  </span>
  <div class="btn-toolbar">
    <div class="btn-group mr-1">
      <button class="btn btn-success" type="button" [disabled]="isRequestProcessing" (click)="openAssignCourseToStudentModal(assignCourseToStudent)">
        <i class="fa fa-plus"></i> ASSIGN COURSE
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-primary" type="button" [disabled]="isRequestProcessing" (click)="openEditStudentModal(editStudentModal)">
        <i class="fa fa-pencil"></i> EDIT
      </button>
    </div>
  </div>
</div>
<div *ngIf="courses?.length > 0">
  <table class="table table-sm">
    <thead>
      <tr>
        <th *ngFor="let column of courseTableColumns">{{column.title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>{{course.Id}}</td>
        <td>{{course.Name}}</td>
        <td>
          <div class="btn-group btn-group-sm">
            <button class="btn btn-outline-primary btn-sm" (click)="goToCourseDetails(course)" placement="top" ngbTooltip="View details">
              <i class="fa fa-info fa-xs"></i>
            </button>
            <button class="btn btn-outline-danger btn-sm" placement="right" ngbTooltip="Remove course from the student's study plan">
              <i class="fa fa-eraser fa-xs"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="alert alert-warning text-center" role="alert" *ngIf="courses?.length === 0">
  <span>
    <strong>There are no courses assigned to this student</strong>
  </span>
</div>
<button class="btn btn-default" type="button" (click)="goBack()">Back</button>

<ng-template #editStudentModal>
  <div class="modal-header">
    <h4>Edit student</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="editStudentFormGroup" novalidate>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="student-firstname-input">First name</label>
          <span class="badge badge-success"></span>
          <input class="form-control" type="text" id="student-firstname-input" formControlName="FirstName" [(ngModel)]="student.FirstName"
            required />
        </div>
        <div class="form-group col-md-6">
          <label for="student-lastname-input">Last name</label>
          <span class="badge badge-success"></span>
          <input class="form-control" type="text" id="student-lastname-input" formControlName="LastName" [(ngModel)]="student.LastName"
            required />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" [disabled]="!editStudentFormGroup.valid || isRequestProcessing" (click)="updateStudent(student)">SUBMIT</button>
    <button class="btn btn-default" type="button" [disabled]="isRequestProcessing" (click)="closeEditStudentModal()">CLOSE</button>
  </div>
</ng-template>
<ng-template #assignCourseToStudent>
  <div class="modal-header">
    <h4>Assign a course</h4>
  </div>
  <div class="modal-body">
    <h6>Select a course</h6>
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" [disabled]="isRequestProcessing" (click)="closeAssignCourseToStudentModal()">CLOSE</button>
  </div>
</ng-template>