.container {
    margin: auto;
    width: auto;
}

.note {
    font-size: 15px;
    font-weight: normal;
}

.student-container {
    width: 300px;
    float: left;
}

.course-container {
    width: 450px;
    float: left;
}

.notice {
    justify-content: flex-start;
}

ul {
    list-style-type: none;
}

ul li {
    padding-top: 6px;
}

.student-id {
    display: inline;
    padding-right: 5%;
}

.student-name {
    display: inline;
    cursor: pointer;
}

.student-name:hover {
    color: blue;
}

.class-id, .class-name {
    text-align: center;
    margin: auto;
}
