<div class="container-fluid">
  <h2>Students</h2>
  <table class="table table-responsible table-hover">
    <thead>
      <tr>
        <th scope="col" *ngFor="let column of columns">{{column.title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr class="clickable-row" *ngFor="let student of students.Data" (click)="goToStudentDetails(student)">
        <td>{{student.Id}}</td>
        <td>{{student.FirstName}}</td>
        <td>{{student.LastName}}</td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination [collectionSize]="students.Count" [(page)]="page" [pageSize]="perPage" [rotate]="true" [ellipses]="false"
    [boundaryLinks]="true" (pageChange)="getStudentsPaged(page, perPage)"></ngb-pagination>
</div>